body{
    background-color: white;
    background-repeat: no-repeat;
}
nav{
    background-color: rgba(127, 195, 235, 0.788);
}
.product_img{
    
    width: 900px;
    margin: 1% 5% 10%;
}

.col-lg-3{
    border: 1px solid rgb(223, 221, 221);
    text-align: center;
    
}
.col-lg-3 img{
    width: 200px;
    
}