body{
    background-color: rgb(243, 243, 243);
}
nav{
    background-color: rgba(127, 195, 235, 0.788);
}
.product_img{
    width: 500px;
    height: 300px;
    margin: 1% 0 15% 25%;
}
.carousel-inner{
    margin: 0 auto;
    width: 80%;
}

.col-lg-3{
    border: 1px solid rgb(223, 221, 221);
    border-radius: 10%;
    text-align: center;
}
.col-lg-3 img{
    width: 150px;
    height: 80px;
}