*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navli, .nava{
font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
color: whitesmoke;
text-decoration: none;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 10%;
    background-color: #1d1d1f;
}
.logo{
    cursor: pointer;
    color: whitesmoke;
}
.nav_links {
    list-style: none;
}
.nav_links , .navli {
display: inline-block;
padding:0px 20px;
}
.nav_links, .navli,  .nava {
    transition: all 0.3s ease 0s;
}
.nav_links , .navli , .nava:hover {
    color: gold;
}
.topribbon
{
text-color:#1d1d1f;
background-color:#fbfbfd;
text-align:center;
font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
font-style:normal;
letter-spacing:-.022em;
font-weight:400;
font-size:17px;
line-height:1.47059;
}
.ribbontext
{
    font-size: 14px;
    display: inline-block;
    padding: 12px 0;
    background-color: #fbfbfd;
    text-color: #1d1d1f;
    text-align: center;
}
.images{
    display:flex;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
}
.img2{
    margin-left: 10px;
}
.h22{
    margin-bottom: 70px;
    margin-left: 42.5%;
    margin-right: 70px ;
    margin-top: 70px ;
}
