*{
    font-family: 'Manrope', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navli, .nava{
font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
color: whitesmoke;
text-decoration: none;
}
header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 10%;
    background-color: #1d1d1f;
}
.logo{
    cursor: pointer;
    color: whitesmoke;
}
.nav_links {
    list-style: none;
}
.nav_links , .navli {
display: inline-block;
padding:0px 20px;
}
.nav_links, .navli,  .nava {
    transition: all 0.3s ease 0s;
}
.nav_links , .navli , .nava:hover {
    color: gold;
}
.topribbon
{
text-color:#1d1d1f;
background-color:#fbfbfd;
text-align:center;
font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
font-style:normal;
letter-spacing:-.022em;
font-weight:400;
font-size:17px;
line-height:1.47059;
}
.ribbontext
{
    font-size: 14px;
    display: inline-block;
    padding: 12px 0;
    background-color: #fbfbfd;
    text-color: #1d1d1f;
    text-align: center;
}
.images{
    display:flex;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
}
.img2{
    margin-left: 10px;
}
.h22{
    margin-bottom: 70px;
    margin-left: 42.5%;
    margin-right: 70px ;
    margin-top: 70px ;
}
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #007b5e !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
